.addComment__text{
  margin: 0;
  padding: 0;
  width: calc(100% - 24px);
  font-size: 16px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  color: #737A92;
  outline: 0;
  border: 0;
  background-color: transparent;
  border-radius: 0;
}

.addComment__text::placeholder{
  opacity: 0.5;
}