.search__filter{
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  outline: 0;
  background-color: transparent;
  background-image: url("../../../images/icon-filter.svg");
  background-position: center;
  background-repeat: no-repeat;
}