.header__logo{
  width: 42px;
  height: 42px;
  display: block;
  background-image: url("../../../images/logo.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}