.header__button{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  color: #000;
  background-color: transparent;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}