.initiative__button{
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  outline: 0;
  border: 0;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}