.form__input{
  margin: 15px 0 0;
  padding: 10px;
  font-size: 18px;
  line-height: 21px;
  font-style: normal;
  font-weight: 500;
  outline: 0;
  border: 0;
  border-radius: 8px;
  background-color: #A9d4ed;
  color: #004B76;
}

.form__input::placeholder{
  color: #0087d5;
  opacity: 0.5;
}

.form__input::-ms-input-placeholder{
  color: #0087d5;
  opacity: 0.5;
}