.menu__count{
  margin: 0;
  padding: 0;
  height: 24px;
  width: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  line-height: 10px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  border-radius: 50%;
  background-color: #b6bbcc;
  color: #fff;
}