.search__input{
  margin: 0 10px 0 0;
  padding: 0 30px 0 5px;
  width: 100%;
  min-height: 30px;
  font-size: 16px;
  line-height: 19px;
  font-style: italic;
  font-weight: normal;
  color: #004b76;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #004b76;
  background-color: transparent;
  background-image: url("../../../images/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 98% 50%;
}