.initiativeCard__text{
  margin: 5px 0;
  padding: 0;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  font-weight: normal;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: -o-ellipsis-lastline;
  word-break: break-word;
  white-space: normal;
}