.form__item_type_select{
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background-image: url("../../../../images/icons/caret.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 12px);
}