.button{
  border-radius: 16px;
  font-style: normal;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #004b76;
  border: 0;
  outline: 0;
}

.button:disabled{
  background-color: #acc4d3;
}